@font-face {
    font-family: Roboto;
    src: url("/css/Roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: Merianda;
    src: url("/css/Merienda_One/MeriendaOne-Regular.ttf");
}

html,
body {
    background: url("bg.png");
    margin: 0;
    padding: 0;
    font-family: "Merianda";
}

header {
    /*border: 10px solid #0011fb;*/
    position: relative;
    width: 100%;
    height: 1vh;
    padding: 0px 0px 20% 0px;
    margin: 0px 0px 2% 0px;
    background: url("Banner3.jpeg")no-repeat 100% 100%;
    background-size: cover;
}

main {
    position: relative;
    /*border: 10px solid #0011fb;*/
    width: 100%;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-align: center;
}


/*footer {
     border: 10px solid #0011fb;
}*/

.toggle,
[id^=drop] {
    display: none;
}

#logo {
    -webkit-text-stroke: 5px #000000;
    color: lemonchiffon;
    display: block;
    float: left;
    font-size: 80px;
    line-height: 60px;
}

#fontawesome {
    color: lemonchiffon;
    padding: 25px 0px 0px 32px;
    font-size: 120px;
}

#basketNumber {
    font-weight: bold;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    bottom: 55%;
    background-color: lemonchiffon;
    color: #254441;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#responsiveDiv {
    /*border: 5px solid #ff0000;*/
    margin: 0 auto;
    left: 0%;
    width: 30%;
    background: transparent;
    margin: 0px 17px 16px 17px;
}

#iceDiv {
    /*border: 5px solid #ff0000;*/
    height: 500px;
    left: 0%;
    width: 35%;
    bottom: 0%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: transparent;
    position: fixed;
    margin: 16px 17px 16px 17px;
}

#iceDiv img {
    max-width: 250px;
}

#setupDiv {
    /*border: 5px solid #ff0000;*/
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 60%;
    right: 0%;
    top: -2%;
}

#WaffelnDiv {
    /*border: 5px solid #ff0000;*/
    display: grid;
    grid-template-columns: auto auto;
    background: transparent;
    width: 100%;
}

#EisDiv {
    /*border: 5px solid #ff0000;*/
    display: grid;
    grid-template-columns: auto auto;
    background: transparent;
    width: 100%;
}

#StecksachenDiv {
    /*border: 5px solid #ff0000;*/
    display: grid;
    grid-template-columns: auto auto;
    background: transparent;
    width: 100%;
}

#SosenDiv {
    /*border: 5px solid #ff0000;*/
    display: grid;
    grid-template-columns: auto auto;
    background: transparent;
    width: 100%;
}

#StreuselDiv {
    /*border: 5px solid #ff0000;*/
    display: grid;
    grid-template-columns: auto auto;
    background: transparent;
    width: 100%;
}

.pictureDiv {
    max-width: 150px;
    max-height: fit-content;
    background: transparent;
}

.formatDiv {
    border: 2px solid rgb(254, 253, 200);
    box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    max-width: 450px;
    max-height: 450px;
    display: inline-table;
    background: transparent;
    color: black;
    margin: auto;
    margin: 32px 34px 32px 32px;
}

#warenKorbArtikel {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    text-align: center;
    width: 60%;
    right: 0%;
    top: -2%;
}

#infoTag {
    font-size: 10px;
    color: lightcoral;
}

#informationAnzeige {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 35%;
    left: 0%;
    top: -2%;
}

#informationAnzeige form {
    font-size: 40px;
    line-height: 60px;
}

#informationAnzeige input {
    color: #B4886B;
    font-size: 40px;
    line-height: 60px;
    width: 80%;
}

.formatDiv img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 200px;
}

.formatDiv p {
    text-align: center;
}

.formatDiv .creationButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#buttonCreation {
    top: 0%;
    float: right;
}

nav {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 3% 15px 0px 15px;
    float: left;
    border: 1.5px solid lemonchiffon;
    background-color: #00000080;
    border-radius: 10px;
}

nav a {
    display: block;
    padding: 0px 20px 0px 20px;
    color: lemonchiffon;
    font-family: "Roboto";
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    border-radius: 10px;
    background-color: #000000;
    color: lemonchiffon;
}

@media screen and (max-width: 1350px) {
    #logo {
        -webkit-text-stroke: 1px #000000;
        color: lemonchiffon;
        display: block;
        float: left;
        font-size: 40px;
        line-height: 15px;
    }
    #fontawesome {
        color: lemonchiffon;
        padding: 20px 0px 0px 27px;
        font-size: 50px;
    }
}

@media screen and (max-width: 933px) {
    nav {
        max-width: 7%;
        float: right;
    }
    nav a {
        border-radius: 10px;
        display: block;
        padding: 0px 20px 0px 20px;
        color: rgba(255, 255, 255, 0.555);
        background-color: #000000a1;
        font-family: "Roboto";
        font-size: 15px;
        line-height: 25px;
        line-height: unset;
        text-align: center;
        text-decoration: none;
    }
    .toggle+a,
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        color: black;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        border: none;
    }
    .toggle:hover {
        border: 1.5px solid rgb(0, 0, 0);
        border-radius: 10px;
        color: white;
        background-color: black;
    }
    [id^=drop]:checked+ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
}